body {
    font-size: 100%;
    padding: 20px;
}

ul,ol {
  margin-bottom: 12px;
}

li {
    margin-bottom: 2px;
}

label {
    margin: 20px 5px 10px 0;
    display: block;
    font-weight: bold;
    font-size: 110%;
}

textarea#scenarioed__projectbundle_projecttype_project_description {
    width: 255px;
    height: 100px;
}

#title {
    text-decoration: none;
    padding-top: 0;
}

#title h1 {
    display: inline;
}

#header {
    border-bottom: 1px solid #aaa;
    margin-bottom: 20px;
}

#content {
    background-color: #F6F6F6;
    border: 1px solid #DFDFDF;
    padding: 30px 28px;
    border-radius: 16px 16px 16px 16px;
    margin-bottom: 20px;
}

.action { 
    float: right;
}


.action, .action:active {
    background: none repeat scroll 0 0 #008A2E;
    border: medium none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: none;
    color: #F1F1F1;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1em;
    margin: 10px;
    padding: 10px 18px;
    outline: 0 none;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out 0s;
    width: auto;
}

.create, .save {
    background-color: #008A2E;
}

.delete {
    background-color: #C00;
}

 .back {
    background-color: #800080;
}

.run {
    background-color: #F60;
}


tr, th {
    vertical-align: top;
    padding: 10px;
}

th {
    text-align: left;
}

td {
    border: 1px solid #eee;
    padding: 5px 15px;
}

.records_list h2, .records_list p {
    margin: 0;
}

.records_list h2 {
    font-size: 110%;
}

.records_list a {
    text-decoration: none;
    margin: 0;
}

.prepend {
    color: #ccc;
}

.auth {
    float: right;
}

.flash {
    background-color: #EBD6FF;
    border: 1px solid #3D1466;
    border-radius: 16px 16px 16px 16px;
    margin-bottom: 20px;
    padding: 30px 28px;
    font-size: 120%;
    font-weight: bold;
}

body h1 {
  margin-top: 10px;
  clear: both;
}
