{% extends "::base.html.twig" %}
    {% block title %}Register: {{ feature.title }}{% endblock %}

    {% block body %}

<form action="{{ path('create')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
    {% endblock %}
