{% extends "::base.html.twig" %}
   {% block title %}Feature: Test Output{% endblock %}

   {% block body %}
    <h1><span class="prepend">Results: </span>{{ feature.title }}</h1>
    <a href="{{ path('project_show', { 'id': entity.id }) }}" class="action back">&larr; Project</a>
    <pre>
    {{ output|raw }}
    </pre>
  {% endblock %}
